# ====== App ======
NODE_ENV=development
APP_URL=http://localhost:5173
API_URL=http://localhost:4000

# ====== Backend ======
PORT=4000
JWT_SECRET=ubah-ini-jadi-string-acak-panjang
SESSION_COOKIE_NAME=tm_session

# ====== Database (MySQL) ======
MYSQL_ROOT_PASSWORD=root_secret
MYSQL_DATABASE=taskmanager
MYSQL_USER=tmuser
MYSQL_PASSWORD=tmpass
# DATABASE_URL dipakai oleh Prisma di dalam container backend
DATABASE_URL=mysql://tmuser:tmpass@mysql:3306/taskmanager
# Untuk dev manual (tanpa docker), pakai:
# DATABASE_URL=mysql://tmuser:tmpass@localhost:3306/taskmanager

# ====== Google OAuth ======
GOOGLE_CLIENT_ID=ganti-dengan-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=ganti-dengan-client-secret
GOOGLE_REDIRECT_URI=http://localhost:4000/api/auth/google/callback

# Scope minimum: profile, email, gmail.send, calendar.events
GOOGLE_SCOPES=openid email profile https://www.googleapis.com/auth/gmail.send https://www.googleapis.com/auth/calendar.events

# ====== Frontend (Vite) ======
VITE_API_URL=http://localhost:4000
